# Ignore specific file types
*.txt
*.v
*.genlib
*.csv
*.history
*.spec
main_stats
# Ignore specific directories
build/
dist/
playground/
__pycache__/
DRiLLS/__pycache__/
ga/__pycache__/
sa/__pycache__/
utils/__pycache__/